<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QuestionsPage</title>
    <link rel="stylesheet" href="/css/AfterDateQuestionsStyle.css">
    <link rel="stylesheet" href="/css/globalstyle.css">
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="/js/AfterDateQuestionsScript.js" defer></script>
</head>
<body>
    <header>
        <div class="topbar">
            <img src="/img/aubergine_logo.png" width="260">
        </div>
    </header>
    <main id="afterDateQuest">
        <div id="profileQuestion">

            <p>Nu är denna date över. Vad tyckte du gällande denna date? Svara på frågorna nedan på skalan 1-5 där 1 är "inte alls" och 5 är "Absolut"</p>

            <label class="fragor" for="fraga1" id="fraga1Buttons">Detta var en bra dejt</label><br>
            <label class="staminte">1</label>
            <label class="stammer">7</label><br>
            <input type="radio" id="f1-1" v-model="fraga1" class="radio" name="fraga1" value="1">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="2">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="3">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="4" checked="checked">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="5">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="6">
            <input type="radio" id="f1-7" v-model="fraga1" class="radio" name="fraga1" value="7"><br>

            <label class="fragor" for="fraga2" id="fraga2Buttons">Jag vill att nästa person ska vara lika denna</label><br>
            <label class="staminte">1</label>
            <label class="stammer">7</label><br>
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="1">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="2">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="3">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="4" checked="checked">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="5">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="6">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="7">
        </div>
        <footer>
            <input type="button" v-on:click="questionAnswered()" id="doneButton" value="Nästa">
        </footer>
    </main>
</body>
</html>