#meeting {
    text-align: center;
}

#youreMeeting {
    font-weight: bolder;
    font-size: 75px;
}


/* #profilePic{
    
  } */

#meetingName {
    font-size: 50px;
    font-style: italic;
}

#atTable {
    font-size: 50px;
}

#tableNumber {
    font-size: 50px;
    font-weight: bolder;
}

.table {
    height: 70px;
    width: 100px;
    border: 2px solid black;
    margin: 2%
}

#stage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#timer {
    font-size: 150px;
    font-weight: bolder;
    margin: 2%;
    /* background-color: purple; */
}

#timerButton {
    font-size: 25px;
}