<!DOCTYPE html>
<html>

<head>
  <title>Club Penguin</title>
  <link rel="stylesheet" type="text/css" href="/css/globalstyle.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/adminstart.css">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/js/global.js" defer></script>
  <script src="/js/adminstart.js" defer></script>
</head>
<div class="overlay"></div>

<body>
  <header>
    <div class="topbar">
      <img src="/img/aubergine_logo.png" width="260">
      <input type="button" class="smallButton" value="Logga ut" id="adminBtn" onclick="logout()">
    </div>
  </header>
  <main>
    <div id="eventCreation">
      <h1>Events</h1>
      <input type="button" value="Skapa nytt" id="createNewBtn" onclick="showCreateEvent()">
    </div>
    <div class="popup" id="createEventPopup">
      <div class="popupHeader">
        <span class="closePopup" onclick="hideCreateEvent()">&times</span>
        <h2>Skapa event</h2>
      </div>
      <div class="popupBody">
        <label for="eventName">Eventets namn</label><br>
        <input type="text" id="eventName"><br>
        <p class="errorMessage" id="createEventError"></p>
        <button class="smallButton" id="createEventButton" onclick="createNewEvent()">Skapa event</button><br>
      </div>
    </div>
    <div id="currentEvents">
      <h2>Pågående events</h2>

    </div>
  </main>
  <footer>
  </footer>
</body>

</html>