<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/globalstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/eventview.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/eventview.js" defer></script>
    <script src="/js/global.js" defer></script>
  </head>
  <div class="overlay"></div>
  <body onload="initEventView()">
    <div class="overlay"></div>
    <header>
      <div class="topbar">
	<img src="/img/aubergine_logo.png" width="260">
	<input type="button" value="Tillbaka" id="goBackBtn" onclick="goBack()">
      </div>
    </header>
    <main>
      <div id="mainView">
	<div id="tableGrid">
	</div>
	<div id="buttons">
	  <input type="button" value="Starta" id="startButton" onclick="startRound()">
	  <input type="button" value="Matcha" id="macthButton" onclick="match()">
	  <input type="button" value="Avsluta runda" id="finishButton" onclick="finishEvent()">
	</div>
      </div>
      <div id="sidebar">
	
      </div>

      <div class="popup" id="ongoingRoundPopup">
	<div class="popupBody" id="ongoingRoundInfo"></div>
      </div>

      <div class="popup" id="exitEventPopup">
	<div class="popupHeader">
	  <h2>Vill du avsluta eventet?</h2>
	</div>
	<div class="popupBody">
	  <input class="smallButton" id="yesBtn" type="button" value="Ja" onclick="exitEvent()">
	  <input class="smallButton" id="noBtn" type="button" value="Nej" onclick="hideExitEventPopup()">
	</div>
      </div>
      
    </main>
    <footer>
    </footer>
  </body>
</html>
