<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/globalstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/eventview.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/eventview.js" defer></script>
    <script src="/js/global.js" defer></script>
  </head>
  <body onload="initEventView()">
    <header>
      <div class="topbar">
	<img src="/img/aubergine_logo.png" width="260">
      </div>
    </header>
    <main>
      <div id="mainView">

      </div>

      <div id="sidebar">

      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
