<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>QuestionsPage</title>
    <link rel="stylesheet" href="/css/questions.css">
    <link rel="stylesheet" href="/css/globalstyle.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="/js/questions.js" defer></script>
</head>

<body>
    <header>
        <div class="topbar">
            <img src="/img/aubergine_logo.png" width="260">
        </div>
    </header>
    <main id="profileID">
        <div id="profileQuestion">

            <p id="dropDownTobacco">
                <label for="tobacco">Använder du tobak?</label><br>
                <select name="tobak" class="dropdown">
                      <option class="dropdownChoice" value="Ja">Ja</option>
                      <option class="dropdownChoice" value="Nej" selected="selected">Nej</option>
                  </select>
            </p>




            <label class="questions" for="question1" id="question1Buttons">Du bjuder ofta inte in till samtal</label><br>

            <label class="disagree">Stämmer Inte</label>
            <label class="agree">Stämmer</label><br>
            <input type="radio" v-model="question1" class="radio" name="question1" value="1">
            <input type="radio" v-model="question1" class="radio" name="question1" value="2">
            <input type="radio" v-model="question1" class="radio" name="question1" value="3">
            <input type="radio" v-model="question1" class="radio" name="question1" value="4" checked="checked">
            <input type="radio" v-model="question1" class="radio" name="question1" value="5">
            <input type="radio" v-model="question1" class="radio" name="question1" value="6">
            <input type="radio" v-model="question1" class="radio" name="question1" value="7"><br>

            <label class="questions" for="question2" id="question2Buttons">Att vara organiserad är viktigare för dig än att vara anpassningsbar</label><br>
            <label class="disagree">Stämmer Inte</label>
            <label class="agree">Stämmer</label><br>
            <input type="radio" v-model="question2" class="radio" name="question2" value="1">
            <input type="radio" v-model="question2" class="radio" name="question2" value="2">
            <input type="radio" v-model="question2" class="radio" name="question2" value="3">
            <input type="radio" v-model="question2" class="radio" name="question2" value="4" checked="checked">
            <input type="radio" v-model="question2" class="radio" name="question2" value="5">
            <input type="radio" v-model="question2" class="radio" name="question2" value="6">
            <input type="radio" v-model="question2" class="radio" name="question2" value="7">
        </div>

        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Vänligen vänta medans arrangör blir klar med indelningen av par!</p>
            </div>

        </div>

        <footer>
            <input type="button" v-on:click="profileDone()" id="doneButton" value="Klar">
        </footer>
    </main>
</body>

</html>
