#table {
    text-align: center;
    font-size: 76px;
}

#partner {
    text-align: center;
    font-size: 56px;
}

#time {
    margin-top: 40px;
    text-align: center;
    font-size: 76px;
}

#ifFinished {
    font-size: 46px;
}

#doneButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 54px 150px;
    text-decoration: none;
    font-size: 56px;
    margin: 4px 2px;
    cursor: pointer;
}