#profileEvaluation {
    text-align: center;
    font-size: 50px;
}

.fragor {
    display: inline-block;
    margin-top: 120px;
    font-weight: bold;
}

.min {
    margin-left: 100px;
    float: left;
}

.max {
    margin-right: 90px;
    float: right;
}

input[type="radio"] {
    /* width: 60px; */
    width: 60px;
    height: 60px;
    /* height: ; */
}

#doneButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 54px 150px;
    text-decoration: none;
    font-size: 56px;
    margin: 4px 2px;
    cursor: pointer;
}