@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

h1 {
    font-family: 'Open Sans';
}

#mainView {
    padding: 20px;
    width: 75%;
    float: left;
}

#tableGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#buttons {
    float: down-left;
}

#sidebar {
    padding: 10px;
    width: 20%;
    height: 77.5%;
    display: grid;
    float: right;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 200px);
    border-left: solid thick purple;
    position: fixed;
    overflow-y: scroll;
    right: 0;
}

.tableHeaders {
    width: 100%;
    height: 8%;
}

.tableHeaders p {
    margin: 5px;
    border: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

.emptyUserLeft {
    width: 45%;
    height: 80%;
    float: left;
    box-shadow: inset 0 0 5px gray;
    margin: 2%;
    border-top: pink;
}

.emptyUserLeft:hover {
    background-color: #e0e0e0;
}

.emptyUserRight {
    width: 45%;
    height: 80%;
    float: right;
    box-shadow: inset 0 0 5px gray;
    margin: 2%;
    border-top: pink;
}

.emptyUserRight:hover {
    background-color: #e0e0e0;
}

.table {
    border-top: solid thick purple;
    height: 200px;
    background-color: white;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.user {
    position: relative;
    background-color: white;
    text-align: center;
    height: 100%;
}

.user:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.user img {
    width: 100%;
    height: 80%;
    display: block;
}

#buttons {
    margin-top: 20px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

#buttons input {
    background-color: purple;
    color: white;
    font-size: 32px;
    font-family: 'Open Sans';
    border: none;
    height: 120px;
}

#buttons input:hover {
    cursor: pointer;
    background-color: #5a009c;
}

#goBackBtn {
    margin-right: 20px;
    padding: 12px 24px;
    position: absolute;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #A5668B;
    border: none;
    color: white;
}

#goBackBtn:hover {
    background-color: #98597e;
    cursor: pointer;    
}

#eventViewTitle {
    text-align: center;
}

#profilePopup {
    width: 600px;
    height: 800px;
    font-size: 50px;
}

#profilePopup img {
    width: 400px;
}

#ongoingDeniedInfo {
    color: red;
}

#timer {
    font-size: 64px;
    padding: 5px;
}

#skipBtn {
    margin-top: 10px;
}

#yesBtn {
    background-color: #cc0000;
    color: white;
    padding: 12px 20px;
    font-size: 24px;
}

#yesBtn:hover {
    background-color: #b70000;
    cursor: pointer;
}
