body {
    margin: 0;
    background-color: pink;
}

.topbar {
    background-color: purple;
    padding: 0;
    position: relative;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.errorMessage {
    font-weight: bold;
    color: red;
}
