body {
    margin: 0;
    background-color: pink;
}

.topbar {
    background-color: purple;
    padding: 0;
    position: relative;
}

footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.errorMessage {
    font-weight: bold;
    color: red;
}

/* ----- POPUP STYLING ----- */
.popup {
    background-color: white;
    border: 1px solid black;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    position: absolute;
    z-index: 3;
}

.popupHeader {
    padding: 16px;
    background-color: purple;
    text-align: center;
    color: white;
    border-bottom: solid thin black;
}

.popupBody {
    padding: 16px;
    text-align: center;
    
}

.closePopup {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.closePopup:hover, .closePopup:focus {
    text-decoration: none;
    cursor: pointer;
}

.overlay {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}


.smallButton {
    padding: 12px 24px;
    background-color: #A5668B;
    border: none;
    color: white;
}

.smallButton:hover {
    cursor: pointer;
    background-color: #98597e;
}
