

#adminBtn {
	margin-right: 20px;
	padding: 12px 24px;
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #A5668B;
	border: none;
	color: white;
}

#userLogin {
	margin: 10% 10%;
	text-align: center;
}


#userLogin input[id=userInput] {
	width: 40%;
	padding: 5%;
	font-size: 32px;
}

#userLogin input[type=submit] {
	background-color: #69306D;
	border: none;
	color: white;
	margin-top: 20px;
	font-size: 20px;
	padding: 12px;
	
}
