#profileQuestion {
    text-align: center;
    font-size: 76px;
}

.textklass {
    display: inline-block;
    margin-top: 40px;
}

input[type="radio"] {
    width: 40px;
    height: 40px;
}

#output {
    height: auto;
    width: 500px;
    margin: 0em;
}

#out {
    margin-top: 5%;
    margin-bottom: 0%;
}

#profileTemp {
    margin-top: 20px;
}

#profilePic {
    font-size: 30px;
    text-align: center;
    padding-left: 30%;
    margin-bottom: 1px;
}

#Namn {
    text-align: center;
    font-size: 76px;
    width: 80%;
}

#Ålder {
    text-align: center;
    font-size: 76px;
    width: 80%;
}

#doneButton {
    position: relative;
    background-color: purple;
    border: none;
    color: white;
    padding: 54px 150px;
    text-decoration: none;
    font-size: 56px;
    margin: 4px 2px;
    margin-top: 50px;
    cursor: pointer;
}