<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ProfilePage</title>
  <link rel="stylesheet" href="style/PPstyle.css">
  <script src="https://vuejs.org/js/vue.js" defer></script>
  <script src="script/PPscript.js" defer></script>
</head>
<body>
  <header>
    <div class="topbar">
      <img src="style/picture1.png" width="260">
    </div>
  </header>
  <main id="myID">
    <div id="profileQuestion">
      <label class="textklass" for="Namn">Ditt namn:</label><br>
        <input type="text" v-model="name" id="Namn" name="Namn" required="required" placeholder="Namn"><br>
      <label class="textklass" for="Ålder">Din ålder:</label><br>
        <input type="text" v-model="age" id="Ålder" name="Ålder" required="required" placeholder="Ålder"><br>
      <label class="textklass" for="gender" id="genderButtons">Ditt kön:</label><br>
        <input type="radio" v-model="gender" id="radio" name="gender" value="Man" checked="checked">Man<br>
        <input type="radio" v-model="gender" id="radio" name="gender" value="Kvinna"> Kvinna<br>
    </div>
    <footer>
      <input type="button" v-on:click="profileDone()" id="doneButton" value="Nästa">
    </footer>
  </main>
</body>
</html>
