<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>EvaluationPage</title>
    <link rel="stylesheet" href="/css/globalstyle.css">
    <link rel="stylesheet" href="/css/evaluationQuestion.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="/js/evaluationQuestions.js" defer></script>
</head>

<body>
    <header>
        <div class="topbar">
            <img src="/img/aubergine_logo.png" width="260">
        </div>
    </header>
    <main id="profileID">
        <div id="profileEvaluation">
            <h2>Vad tyckte du?</h2>

            <label class="fragor" for="fraga1" id="fraga1Buttons">Hur nöjd är du med dejten?</label><br>

            <label class="min">Väldigt missnöjd</label>
            <label class="max">Jättenöjd</label><br>
            <input type="radio" id="f1-1" v-model="fraga1" class="radio" name="fraga1" value="1">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="2">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="3">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="4" checked="checked">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="5">
            <input type="radio" v-model="fraga1" class="radio" name="fraga1" value="6">
            <input type="radio" id="f1-7" v-model="fraga1" class="radio" name="fraga1" value="7"><br>


            <label class="fragor" for="fraga2" id="fraga2Buttons">Hur väl känner du att du och din dejt matchade?</label><br>
            <label class="min">Inte alls</label>
            <label class="max">Mycket väl</label><br>
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="1">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="2">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="3">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="4" checked="checked">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="5">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="6">
            <input type="radio" v-model="fraga2" class="radio" name="fraga2" value="7">
        </div>
        <footer>
            <input type="button" v-on:click="evaluationDone()" id="doneButton" value="Skicka">
        </footer>

    </main>
</body>

</html>
