<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WaitingPage</title>
  <link rel="stylesheet" href="/css/waiting.css">
  <link rel="stylesheet" href="/css/globalstyle.css">
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://vuejs.org/js/vue.js" defer></script>
  <script src="/js/waiting.js" defer></script>
</head>

<body>
  <header>
    <div class="topbar">
      <img src="/img/aubergine_logo.png" width="260">
    </div>
  </header>
  <h3 id="waitForHost">Väntar på arrangör</h3>

  <p id="smallTips">konversationstips</p><br>

  
  
</body>
